.container {
  padding: 1.25rem 0;
}

.content {
  width: 100vw;
  display: flex;
  justify-content: center;
  position: relative;
}

.menu_icon {
  background-color: transparent;
  border: 0;
  position: absolute;
  right: 16px;
  top: 5px
}

.page_title {
  color: var(--white);
  font-size: 1.25rem;
}

.menu {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  border-top: 1px solid var(--white);
  margin-top: 1rem;
  padding-top: 1rem;
}

.closed {
  display: none;
}

.menu_item a {
  text-decoration: none;
  color: var(--white);
}

.hidden {
  display: none;
}

@media(min-width: 768px) {
  .container {
    display: none;
  }
}