.accordion_item {
  display: flex;
  flex-direction: column;
}

.accordion_title {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 1rem;

  & span {
    font-weight: 700;
    font-size: 1.5rem;
  }

  & img {
    transition: all 0.2s;
  }
}

.accordion_content {

}