.wrapper {
  max-width: 64rem;
  margin: 0.68rem auto;
  padding: 0 1rem;
}

.banner {
  width: 100vw;
  background-color: var(--branding-700);
  display: flex;
  justify-content: center;
  max-height: 9.37rem;
  overflow: hidden;
}

.search_input {
  flex: 1;
  display: flex;
  align-items: center;
  border: 1px solid var(--gray-icon);
  border-radius: 8px;
  background-color: var(--white);
  padding: 0.8rem;
}

.search_input > input {
  background-color: transparent;
  border: 0;
  width: 100%;
  margin-left: 0.5rem;
}

.search_input > input::placeholder {
  color: var(--placeholder);
}

.cards {
  display: grid;
  grid-template-columns: 1fr 20rem;
  align-items: start;
  gap: 1.5rem;
  width: 100%;
  background-color: var(--card);
  margin-top: 0.37rem;
  padding: 2.5rem 2rem;
}

.cards .chart_content, .cards main {
  background-color: var(--white);
  -webkit-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.1);
  -moz-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.1);
  box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.1);
}

.chart_button_container {
  display: none
}

@media(max-width: 768px) {
  .cards {
    grid-template-columns: 1fr;
    gap: 0;
    padding: 0;
  }

  .chart_content {
    display: none;
  }

  .wrapper {
    padding: 0;
    background-color: var(--white);
  }

  .search_input {
    margin: 0 0.75rem;
  }

  .chart_button_container {
    display: flex;
    position: fixed;
    bottom: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0.5rem 1.5rem 1rem;

    & > button {
      width: 100%;
      padding: 0.85rem;
      border: 0;
      border-radius: 40px;
      color: var(--white);
      background-color: var(--branding-500);
      font-size: 1.125rem;
  
      display: flex;
      justify-content: center;
  
      & strong {
        display: block;
        margin: 0 0.5rem;
        transform: translateY(-4px);
      }
    }
  }
}