.radio-container {
  display: flex;
  align-items: center;
  cursor: pointer;
  position: relative;
  user-select: none;
}

.radio_container input {
  position: absolute;
  opacity: 0;
}

.custom_radio {
  width: 1.25rem;
  height: 1.25rem;
  border: 3px solid var(--branding-500);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: border-width 0.2s;
}

.radio_container input:checked + .custom_radio {
  border-width: 7px;
}

.radio_container:hover .custom_radio {
  filter: brightness(1.5);
}